* {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "teko", sans-serif;
  font-weight: 400;
  font-style: normal;
}

nav #logo {
  width: 150px;
  height: 75px;
  -o-object-fit: cover;
     object-fit: cover;
}

header {
  background-color: e4e4e4;
  padding: 1 5px;
}
header #header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header #header-container a {
  font-size: 30px;
  text-decoration: none;
  font-weight: bolder;
  color: #000;
}
header #header-container #openBtn {
  cursor: pointer;
}
header #nav-links {
  position: absolute;
  top: -100vh;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: #e4e4e4;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s;
}
header #nav-links #closeBtn {
  position: absolute;
  top: 25px;
  right: 80px;
  color: #fff;
  cursor: pointer;
}
header #nav-links a {
  text-decoration: none;
  font-size: 30px;
  color: #000;
  padding: 20px;
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}
header #nav-links a:hover {
  color: #fff;
}

.section-call {
  background-image: linear-gradient(rgba(20, 21, 51, 0.8), rgba(20, 21, 51, 0.8)), url(images/fruit7.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 150px 0 150px;
  color: #fff;
  font-style: italic;
  font-family: "script segoe";
  font-weight: 700;
}

/*CONTACT ZONE*/
.contact-wrapper {
  background-image: radial-gradient(rgba(20, 21, 51, 0.7), rgba(20, 21, 51, 0.7)), url(images/fruit7.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0 100px;
  color: #fff;
}
.contact-wrapper .contact-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}
.contact-wrapper .contact-content img {
  width: 100%;
}
.contact-wrapper .contact-content .contact-description {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1000px) {
  .contact-wrapper .contact-content .contact-description {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/*  SECTION FOOTER  */
.section-footer {
  background-color: #e4e4e4;
  padding: 100px 0 50px;
}
.section-footer .section-footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
@media (max-width: 1100px) {
  .section-footer .section-footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .section-footer .section-footer-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.section-footer .section-footer-detail .logo {
  width: 50px;
  mix-blend-mode: multiply;
}
.section-footer .section-footer-detail p {
  line-height: 3;
}
.section-footer .section-footer-detail p:hover {
  color: #df0707;
  cursor: pointer;
}
.section-footer .section-footer-detail a {
  text-decoration: none;
  color: #000;
}
.section-footer .section-footer-detail a:hover {
  color: #df0707;
  cursor: pointer;
}
.section-footer .section-footer-detail .icons {
  display: flex;
  gap: 20px;
}
.section-footer .section-footer-detail .icons svg {
  border-radius: 50%;
  border: 1px solid #ffa500;
  background-color: #ffa500;
  color: #fff;
  margin-left: 5px;
  padding: 10px;
}
.section-footer .section-footer-detail img {
  position: relative;
  top: -7px;
}/*# sourceMappingURL=contact.css.map */